@font-face {
    font-family: 'montserrat';
    src: 
        url('./ressources/font/Montserrat/Montserrat-VariableFont_wght.ttf'),
        url('./ressources/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
        font-weight: 100 900;
        font-style: normal;
}

:root {
    --bleu : #152237;
    --blanc : #FFFFFF;
    --montserrat : montserrat, sans-serif
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: var(--blanc);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--bleu);
    display: flex;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leftNavbar, .centerNavbar, .rightNavbar {
    width: 33.33%;
}

header nav .leftNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(168px, 10vw);
}

header nav .leftNavbar img {
    width: 84px;
    height: 31px;
}

header nav .leftNavbar a {
    text-decoration: none;
    color: var(--blanc);
    font-family: var(--montserrat);
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    white-space: nowrap;
}



header nav .centerNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav .centerNavbar form {
    display: flex;
}

header nav .centerNavbar input {
    width: 72.27273%;
    max-height: 40px;
    border-radius: 6px;
    font-family: var(--montserrat);
    font-size: 15px;
    border: 1px solid var(--blanc);
    background-color: var(--bleu);
    appearance: none;
    padding: 3.56394%;
    color: var(--blanc);
}

header nav .centerNavbar input::placeholder {
    color: var(--blanc);
}

header nav .centerNavbar input {
    background-image: url('./ressources/icone/research.svg');
    background-repeat: no-repeat;
    background-position: right 8px center;
}



header nav .rightNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.87879%;
}

header nav .rightNavbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19.69697%;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-family: var(--montserrat);
    font-weight: 500;

} 

header nav .rightNavbar button.inscriptionButton {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);   
}

