@font-face {
    font-family: 'montserrat';
    src: 
        url('./ressources/font/Montserrat/Montserrat-VariableFont_wght.ttf'),
        url('./ressources/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
        font-weight: 100 900;
        font-style: normal;
}

:root {
    --bleu : #152237;
    --blanc : #FFFFFF;
    --noir : #000000;
    --montserrat : montserrat, sans-serif;
    --gradient : linear-gradient(94.01deg, rgba(68, 221, 138, 0.8) 3.11%, rgba(21, 183, 226, 0.8) 98.45%);
    --font15px : clamp(7.5px, 0.892857143vw, 15px);
    --jaune : #FFC700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--montserrat)
}


body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: var(--blanc);
    display: flex;
    flex-direction: column;
}


/* HEADER */

header {
    width: 100%;
    height: 80px;
    background-color: var(--bleu);
    display: flex;
}

header nav {
    width: 100%;
    display: flex;
}

.leftNavbar, .centerNavbar, .rightNavbar {
    width: 33.33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBAR */

header nav .leftNavbar {
    gap: clamp(10px, 10vw, 168px);
}

header nav .leftNavbar img {
    width: 84px;
    height: 31px;
}

header nav .leftNavbar a {
    display: flex;
    text-decoration: none;
    color: var(--blanc);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -1.5%;
    text-align: center;
    white-space: nowrap;
}



header nav .centerNavbar input {
    width: clamp(200px, 50vw, 477px);
    height: 40px;
    padding-left: 17px;
    border-radius: 6px;
    font-size: 15px;
    color: var(--blanc);
    border: 1px solid var(--blanc);
    background-color: var(--bleu);
    appearance: none;
}

header nav .centerNavbar input::placeholder {
    color: var(--blanc);
}

header nav .centerNavbar input {
    background-image: url('./ressources/icone/research.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
}



header nav .rightNavbar {
    gap: 2.87879%;
}

header nav .rightNavbar button {
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
} 

header nav .rightNavbar button.inscriptionButton {
    background: linear-gradient(95.98deg, #44DD8A 8.7%, #15B7E2 100%);   
}





/* HEROSLIDE */

.hero {
    width: 100%;
    background-image: 
    linear-gradient(to right, rgba(0, 255, 150, 0.8), rgba(0, 150, 255, 0.8)), url('/ressources/bg-header.png');
    background-position: center;
    background-size: cover;
    padding: 156.5px 0;
}

.hero-texts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-texts h1, .hero-texts h2, .hero-texts button {
}

.hero-texts h1 {
    font-size: clamp(24px, 2.857vw, 48px);
    /* (48px / 1680px) * 100 = (x)vw */
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--bleu);

}

.hero-texts h2 {
    font-size: clamp(10px, 1.19047619vw, 20px);
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 22px;
    color: var(--noir);
}

.hero-texts button {
    width: 130px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -1.5%;
    text-align: center;
    vertical-align: middle;
    border-radius: 6px;
    border: none;
    white-space: nowrap;
    padding: 11px 14px;
    color: var(--bleu)
}







/* FORMATIONS POPULAIRES */

.formations_Populaires {
    display: flex;
}

.elements_Formations_Populaires {
    width: 88.0357143%;
    max-width: 1690px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.parent-h1-Formations_Populaires {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    margin-top: 30px;
    color: var(--bleu);
    font-weight: 800;   
}

.groupe_Cards_Formations_Populaires {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    justify-content: center;
    gap: clamp(30px, 5.119047619vw, 150px);
}


.card_Formations_Populaires {
    width: 305px;
    height: min(362px, auto);
    position: relative;
}

.parent_Texts-Formations_Populaires {
    padding-left: 12px;
}

.card_Formations_Populaires h2 {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5%;
    color: var(--bleu);
    margin-top: 21px;
}

.para_card_Formations_Populaires-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
}

.stars_Formations_Populaires {
    width: 130px;
    height: 19.2px;
    margin-top: 5px;
}

.stars_Formations_Populaires img {
    width: 20.13px;
    height: 19.2px;
}

.stars_Opacited {
    opacity: 30%;
}

.para_card_Formations_Populaires-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-top: 10.8px;

}

.prix {width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31.58px;
    border-radius: 93px;
    border: none;
    background-color: var(--bleu);
    color: var(--blanc);
    gap: 7px;
    position: absolute;
    left: 174px;
    top: 189.79px;
    box-shadow: 5px 4px 13.2px -1px #00000040;

}

.prixGrand {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.5%;

}

.prixPetit {
    font-weight: 400;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: -1.5%;
    text-decoration: line-through;
}



.button_Formation_Populaires{
    display: flex;
    align-self: center;
    margin-top: 43px;
    margin-bottom: 51px;
}

.button_Formation_Populaires button {
    width: 225px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: var(--blanc);
    background-color: var(--bleu);
    border-radius: 6px;
    border: none;
    white-space: nowrap;
}





/* FORMATIONS Recentes */

.formations_Recentes {
    display: flex;
    background-color: var(--bleu);
}

.elements_Formations_Recentes {
    width: 88.0357143%;
    max-width: 1690px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.parent-h1-Formations_Recentes {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    margin-top: 30px;
    color: var(--blanc);
    font-weight: 800;   
}

.groupe_Cards_Formations_Recentes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 34px;
    justify-content: center;
    gap: clamp(30px, 5.119047619vw, 150px);
}

.card_Formations_Recentes {
    width: 305px;
    height: min(362px, auto);
    position: relative;
}

.parent_Texts-Formations_Recentes {
    padding-left: 12px;
}

.card_Formations_Recentes h2 {
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5%;
    color: var(--blanc);
    margin-top: 21px;
}

.para_card_Formations_Recentes-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0%;
    color: var(--blanc);
}

.stars_Formations_Recentes {
    width: 130px;
    height: 19.2px;
    margin-top: 5px;
}

.stars_Formations_Recentes img {
    width: 20.13px;
    height: 19.2px;
}

.stars_Opacited {
    opacity: 30%;
}

.para_card_Formations_Recentes-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    margin-top: 10.8px;
    color: var(--blanc);

}

.prixRecentes {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 31.58px;
    border-radius: 93px;
    border: none;
    background-color: var(--blanc);
    color: var(--bleu);
    gap: 7px;
    position: absolute;
    left: 174px;
    top: 189.79px;
    box-shadow: 5px 4px 13.2px -1px #00000040;

}

.prixGrandRecentes {
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.5%;

}

.prixPetitRecentes {
    font-weight: 400;
    font-size: 10px;
    line-height: 7px;
    letter-spacing: -1.5%;
    text-decoration: line-through;
}

.button_Formation_Recentes{
    display: flex;
    align-self: center;
    margin-top: 43px;
    margin-bottom: 51px;
}

.button_Formation_Recentes button {
    width: 225px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    color: var(--bleu);
    background-color: var(--blanc);
    border-radius: 6px;
    border: none;
    white-space: nowrap;
}







/* AVIS CLIENTS */

.avis_Clients {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.avis_Clients h1 {
    margin-top: 58px;
    font-weight: 900;
    font-style: Black;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    color: var(--bleu);
}

.elements_Avis_Clients {
    width: 82.02380952vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 66px;
    margin-bottom: 131px;
    gap: 1.42857142857143vw;
}

.cards_Avis_Clients {
    width: 48.69375907111756%;
    height: auto;
}

.cards_Avis_Clients h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1.5%;
}

.cards_Avis_Clients p {
    margin-top: 13.8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -1.5%;
}

.avis_Clients_Photos {
    width: 139px;
    height: 139px;
    border-radius: 100px;

}

.avis_stars {
    margin-top: 7px;
    height: 19.2px;
}







@media screen and (max-width: 1678px) {
    .parent-h1-Formations_Populaires, .parent-h1-Formations_Recentes {
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .connexionButton, .inscriptionButton, input#searchBar, a {
        display: none;
    }
    .avis_Clients h1 {
        margin-top: 28px;
    }
    .elements_Avis_Clients {
        flex-direction: column;
        align-items: center;
        width: 88.0559796437659vw;
        gap: 50px;
        margin: 0;
        margin-top: 26px;
        margin-bottom: 28px;
    }
    .cards_Avis_Clients {
        width: 100%;
        text-align: center;
    }

    .cards_Avis_Clients p {
        text-align: left;
    }
}